<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <h1>HI</h1>
  <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
</li>